{
    "security.workspace.trust.untrustedFiles": "open",
    "terminal.integrated.inheritEnv": false,
    "terminal.integrated.fontFamily": "MesloLGM Nerd Font Mono",
    "terminal.integrated.enableMultiLinePasteWarning": "never",
    "window.zoomLevel": 2,
    "window.confirmBeforeClose": "keyboardOnly",
    "explorer.confirmDragAndDrop": false,
    "editor.accessibilitySupport": "off",
    "editor.renderWhitespace": "boundary",
    "editor.semanticHighlighting.enabled": false,
    "editor.showUnused": false,
    "editor.rulers": [
    ],
    "editor.inlineSuggest.edits.allowCodeShifting": "never",
    "workbench.editor.empty.hint": "hidden",
    "workbench.iconTheme": "flow-dark",
    "github.copilot.enable": {
        "*": false,
        "plaintext": false,
        "markdown": false,
        "scminput": false
    },
    "github.copilot.nextEditSuggestions.enabled": true,
    "github.copilot.nextEditSuggestions.fixes": false,
    "python.defaultInterpreterPath": "{{ .chezmoi.homeDir }}/miniforge3/bin/python",
    "claudeCode.preferredLocation": "panel"
}